*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.blds i{
    margin-top: 7px;
   position: relative;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 5px;
}


.blds i:hover{
    background-color: rgb(202, 201, 201);
}



img{
    width: 25px;
    
}


.srbt{
    border: 0;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
}